.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.chat {
  height: 400px;
  width: 500px;
  background-color: #D3D3D3;
  opacity: 0.8;

}
.chat ul {
  margin-top: 2rem;
  color:black;
  opacity: 1;
  list-style-type: none;
  text-align: left;
}
.chat ul li {
  position: relative;
}

.mTop{

  margin-top: 5rem;
}
.bottom{
  position: absolute;
  bottom:0;
}
label {
  display: inline-block;
  width: 140px;
  text-align: right;
}
